<launch>
    <include file="$(find fake_localisation)/launch/fake_localisation.launch">
        <arg name="loc_system_name" value="fake_UWB" />
        <!-- todo add more parameters here-->
    </include>
    <include file="$(find fake_localisation)/launch/fake_localisation.launch">
        <arg name="loc_system_name" value="fake_camera" />
        <!-- todo add more parameters here-->
    </include>
</launch>