<?xml version="1.0"?>
<launch>
    <node name="master_discovery" pkg="master_discovery_fkie" type="master_discovery" args="_mcast_group:=224.0.0.1" respawn="true"/>
    <node name="master_sync" pkg="master_sync_fkie" type="master_sync" respawn="true"/>

    <group ns="$(env ROS_HOSTNAME)">

        <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch">
		<arg name="multi_robot_name" value="$(env HOSTNAME)"/>
	</include>

	<include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
		<arg name="slam_methods" value="gmapping"/>
		<arg name="open_rviz" value="False"/>
	</include>
        <!--node name="behaviour_aserver" pkg="core" type="aserver.py" args="srv_timeout:=60" respawn="true"/-->

    </group>
</launch>
