<launch>
  <arg name="map_path" default="$(find driving_swarm_loc_sim)/maps/arena_one.yaml"/>
  <arg name="world_name" default="arena_one"/>
  <arg name="robot_amount" default="1"/>
  <arg name="init_pose" default="-x 0.0 -y 0.0 -z 0.0"/>
  <arg name="auto_drive" default="False"/>

  <node pkg="map_server"
    name="map_server"
    type="map_server"
    args="$(arg map_path)">
  <param name="frame_id" value="map" />
  </node>


  <include file="$(find driving_swarm_loc_sim)/launch/fake_localisation.launch">
    <arg name="loc_system_name" value="fake_UWB" />
    <arg name="bot_count" value="$(arg robot_amount)" />
    <arg name="target_additive_noise_translation_sigma" value="0.1"/>
    <arg name="meta_correct_mapping" value="true" />
    <arg name="update_rate" value="6" />
    <arg name="meta_accuracy" value="0.8" />
  </include>

  <include file="$(find driving_swarm_loc_sim)/launch/fake_localisation.launch">
    <arg name="loc_system_name" value="fake_camera" />
    <arg name="bot_count" value="$(arg robot_amount)" />
  </include>

  <node name="driving_swarm_combined_output" pkg="driving_swarm_loc" type="combined_output.py" args="" respawn="false" output="screen">
    <rosparam param="loc_systems">
        {
         loc_system_fake_UWB: {weight: 0.3},
         loc_system_fake_camera: {weight: 1},
         loc_system_AMCL: {weight: 1}
        }
    </rosparam>
  </node>

  <include file="$(find driving_swarm_loc)/launch/amcl2loctf.launch">
    <arg name="bot_count" value="$(arg robot_amount)" />
  </include>


  <node pkg="driving_swarm_loc" type="transform_correlator" name="transform_correlator" output="screen">
    <param name="loc_system_source" value="loc_system_fake_UWB"/>
    <param name="loc_system_target" value="loc_system_fake_camera"/>
  </node>

  <node pkg="driving_swarm_loc" type="transform_correlator_AMCL2Cam" name="transform_correlator_AMCL2CAM" output="screen">
    <param name="bot_count" value="$(arg robot_amount)"/>
  </node>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find driving_swarm_loc_sim)/worlds/$(arg world_name).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find driving_swarm_loc_sim)/launch/init_robots.launch">
    <arg name="init_pose" value="$(arg init_pose)"/>
    <arg name="nr" value="$(arg robot_amount)"/>
    <arg name="auto_drive" value="$(arg auto_drive)"/>
  </include>

  <include file="$(find driving_swarm_loc_sim)/launch/fake_turtlebot_assign.launch">
    <arg name="bot_count" value="$(arg robot_amount)" />
    <arg name="update_rate" value="1.0"/>
    <arg name="uwb_tf_prefix" value="loc_system_fake_UWB/"/>
  </include>

</launch>
