  <launch>
    <arg name="bot_count" default="1"/>
    <node name="driving_swarm_combined_output" pkg="driving_swarm_combined_output" type="driving_swarm_combined_output.py" args="" respawn="false" output="screen">
      <param name="bot_count" type="int" value="$(arg bot_count)"/>
    </node>
  </launch>